# File MacOs
.DS_Store

# Environment
venv/
.env

#Backend data
backend/data/
backend/chroma_vector_db/
backend/src/agents/__pycache__
backend/__pycache__
backend/backend/chroma_vector_db

#Frontend data
frontend/node_modules/

#Scripts
.github/skills/ui-ux-pro-max/scripts/__pycache__

#Api data
backend/src/api/__pycache__

#Ingestion data
backend/src/ingestion/__pycache__

#MedRAG
medRAG/

# Others
/md files/